@charset "utf-8";
body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

*{
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1920px;
    margin: 0 auto;
}

.wrapper .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper .container .main-logo{
    width: 100%;
    max-width: 300px;
    display: inline-block;
    margin-bottom: 100px;
}

.button{
    margin: 10px 0;
    width: 200px;
    max-width: 200px;
    text-align: center;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 10px 0;
    color: #333;
    transition: all 250ms ease-in-out;
    display: inline-block;
    background: #FFF;
    font-size: 18px;
}

.button-horizontal{
    width: 200px;
    margin: 10px 30px;
}

.button:hover{
    background: #333;
    color: #eee;
}

.input{
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
    width: 300px;
    display: inline-block;
    margin-bottom: 20px;
    padding: 5px 10px;
    font-size: 18px;
}

.input:hover{
    outline: none;
    border-bottom: 1px solid #b30b0b;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;

}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-center{
    text-align: center;
}
