.wrapper table, tr, td, th{
    border:1px solid #000;
    border-collapse:collapse;
}
.wrapper{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}
