#box1{
    width: 100px;
    height: 100px;
    background-color: #b30b0b;
}

#box2{
    width: 100px;
    height: 100px;
    background-color: #2ea3f2;
}

#box3{
    width: 100px;
    height: 100px;
    background-color:rgb(79,212,148);
}

