*{
    margin: 0px;
    padding: 0px;
 }

body {
    font-size: 120%;
    background: lightslategrey;

}

.header {
    width: 30%;
    margin: 50px auto 0px;
    color: white;
    background: #0a6b6f;
    text-align: center;
    border: 1px solid #B0C4DE;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
}

.form_pos {
    padding: 200px 200px;
    margin: 150px;
}


.forma_deg {
    background-color: skyblue;
    width: 500px;
    padding-top: 20px;
    padding-bottom: 70px;
}

.title {
    text-align:center;
    background-color: black;
    color: white;
    width: 500px;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.label {
    display: inline-block;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
}

.input {
    display: inline block;
    width: 100px;
    padding-right: 200px;
    padding-top: 7px;
    padding-bottom: 8px;
}


.btn {
    width: 130px;
    margin-left: 115px;
    padding: 10px;
    font-size: 15px;
    color: rgb(255, 255, 255);
    background: #393b50;
    border:tomato;
    border-radius: 5px;
}