*{
    text-decoration: none;
    font-family: sans-serif;
  
}

body{
    background:rgb(177, 204, 230);
    margin: 0px;
    padding: 0px;
}

.all {
    background-color: rgb(114, 114, 214);
    border: rgb(92, 58, 61);
    border-width: 5px;
    border-style:solid
}


#header {
    text-align: center;
    top: 0px;
    position: absolute;
    margin: 0px;
    padding-left: 280px;
    font-size: 32px;
  
}

 
.slika1 {
    object-fit: cover;
    width: 15%;
    height: 15%;
    margin: 15px;
    margin-right: 0px;  
    object-fit: cover;  
}


.slika2{
    object-fit: cover;
    top: 0px;
    width: 15%;
    height: 15%;
    margin: 15px;
    margin-left: 15px;
    padding-left: 650px;
    border-radius: 50px;
}