*{
    text-decoration: none;
    font-family: sans-serif;
}

body{
    margin: 20px;
    padding: 0px;
    background:lightslategrey;
}

header {
    text-align: center;
    font-size: 34px;
    margin: 0px;
    padding: 0px;
    border: 10px;
    border-color: lightsteelblue;
    border-style: solid;
    border-radius: 20px;
}


