*{
    text-decoration: none;
    font-family: sans-serif;
  
}

body{
    background:lightslategrey;
    margin: 0px;
    padding: 0px;
}

header {
    position: relative;
    text-align: center;
    padding: 10px 35px;
    font-size: 24px;
    border: 10px;
    border-color: lightsteelblue;
    border-style: solid;
    border-radius: 20px;
}

img {
    max-width: 50%;
    max-height: 50%;
    margin: 0em;
    padding-right: 0em;
    position: absolute;
}
