@charset "utf-8";

body{
	margin: 0;
	padding: 0;
}

@media screen and (max-width: 1366px){
	.wrapper p{
		padding-top: 20px;
		padding-bottom: 20px;
	}
}


.wrapper p{
	width: 30%;
	display: inline-block;
	background: #b30b0b;
	color: #fff;
	padding: 1%;
}

@media screen and (max-width: 860px){
	.wrapper p{
		width: 46%;
	}
}

@media screen and (max-width: 600px){
	.wrapper p{
		width: 95%;
	}
}

